In [8]:
#python is programming language
#python is high level language
# python is simple language
#It is open source

In [9]:
print("hello")

hello

## Character

In [10]:
# letter, digit, special symbol, whtespace, other character(ASCII, unicode)
# Variable
# A variable is a name given to a memory location in a program
# a = 20
# a  is variable
# 20 is value

# Identifier

In [11]:
# can't start digit 
# not use special symbols

# Data Type

In [12]:
#Integer, String, Float, Boolean, None

# Keyword

In [13]:
# Keyword are reserved words in python
# Python case-sensitive

In [14]:
a= 2
b= 3
print(a+b)

5

## Comment

In [15]:
#Single line comment
#  """ Multi line comment """

In [16]:
print("""Multiline
     Comment""")

Multiline
     Comment

# Operators

In [17]:
# Arithmetic , Relation/Comparison, Assignment , Logical
# An operator is a symbol that performs a certain operation between operands

In [18]:
a =21
b=4
print(a/b)
print(a//b)
print(a%b)

5.25
5
1

# Type Conversion

In [19]:
#conversion and  castig
# python interpreter itself convert 
# casting is converting programmer

In [20]:
aa, b = 1,"2"
c=int(b)
print(aa+c)

3

# Input from user

In [21]:
# input() statement is used to accept values (using keyword) from user
# input()
# int(input())

In [22]:
a=int(input("Enter a : "))
b=int(input("Enter b: "))
print(a+b)

Enter a :  2
Enter b:  3

5

In [23]:
# always input is string value

In [24]:
a = int(input("Enter side: "))
print("Area of square: ", a*a)

Enter side:  23

Area of square:  529

# Conditional Statement

#### String

In [25]:
# string is data type that stores a sequence of characters

#### String Concatenation

In [26]:
a = "Python is langauge"
b = 'computer '
c= a+b
print(c)
len(c)

Python is langaugecomputer

27

### indexing

In [27]:
print(a[3])

h

In [28]:
# slicing:- accessing parts of a string
# endswith, caitalize, replace, find, count

In [29]:
a= "surya is Crazy Boy"
print(a.endswith("oy"))
print(a.capitalize())
print(a.replace('u','0'))
print(a.find('is'))

True
Surya is crazy boy
s0rya is Crazy Boy
6

# Conditional Statement

In [30]:
a  = 10
if(a>18):
    print("Vote")
else:
    print("Not Vote")

Not Vote

# List

In [31]:
# A built-in data type that stores set of values
# It can store elements of different types(interger, float, string,etc)
# List is mutable
# String is immutable

In [32]:
marks=[33,56,78,89]
marks[2]

78

In [33]:
print(marks)

[33, 56, 78, 89]

In [34]:
print(type(marks))

<class 'list'>

In [35]:
marks.append(5)

In [36]:
marks

[33, 56, 78, 89, 5]

In [37]:
marks.sort()

In [38]:
marks

[5, 33, 56, 78, 89]

In [39]:
marks.reverse()

In [40]:
marks

[89, 78, 56, 33, 5]

In [41]:
marks.insert(3,45)

In [42]:
marks

[89, 78, 56, 45, 33, 5]

In [43]:
marks.remove(56)

In [44]:
marks

[89, 78, 45, 33, 5]

In [45]:
marks.pop(3)

33

# Tuple

In [46]:
# A built-in data type that lets us create immutable sequences of vaalue

In [47]:
tup = (46,89,7,3388,958,84)
tup

(46, 89, 7, 3388, 958, 84)

In [48]:
type(tup)

tuple

In [49]:
tup[0]

46

# Dictionary

In [50]:
# Dictionary are used to store data values in key:value pairs
# They are unordered, mutable and don't allow duplicate keys

In [51]:
hy = {"name": "Surya",
      "class": "Bachelor",
      "Roll": 2023029}

In [52]:
hy

{'name': 'Surya', 'class': 'Bachelor', 'Roll': 2023029}

In [53]:
print(hy["name"])

Surya

In [54]:
type(hy)

dict

In [55]:
hy.keys()

dict_keys(['name', 'class', 'Roll'])

In [56]:
hy.values()

dict_values(['Surya', 'Bachelor', 2023029])

In [57]:
# items , get, update

In [58]:
hy.items()

dict_items([('name', 'Surya'), ('class', 'Bachelor'), ('Roll', 2023029)])

In [59]:
hy.get("name") # if not found value then output is none

'Surya'

In [60]:
hy.update({"city":"Varanasi"})

In [61]:
hy

{'name': 'Surya', 'class': 'Bachelor', 'Roll': 2023029, 'city': 'Varanasi'}

# Set

In [62]:
# Set is the collection of the unordered items
# Each element in the set must be unique and immutable

In [63]:
z = {2,5,3,56,7,5,3,9}
z

{2, 3, 5, 7, 9, 56}

In [64]:
# add, remove, clear,  pop (random value remove), union , intersection

# Loop

In [65]:
# Loops are used to repeat instructions

## while

In [66]:
a=1 # iterator
while a<10:
    print("Surya")
    a = a+1

Surya
Surya
Surya
Surya
Surya
Surya
Surya
Surya
Surya

In [67]:
b =1
while b<=100:
    print(b)
    b = b+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [68]:
b =100
while b>=1:
    print(b)
    b = b-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [69]:
g= 1
while g<=10:
    print(g*3)
    g = g+1

3
6
9
12
15
18
21
24
27
30

In [70]:

p = 1
while p<= 10:
    print(p*p)
    p = p+1

1
4
9
16
25
36
49
64
81
100

In [71]:
i = 1
while i<=5:
    print(i)
    if i==3:
        break
    i = i+1
 
print("End the loop")

1
2
3
End the loop

#  For

In [72]:
# Loop are used for sequential traversal. For traversing list, string, tuple etc
# for el in list:

In [73]:
a= [20,39, 4,950]
for b in a:
    print(b)

20
39
4
950

In [74]:
ab="Surya Yadav"
for c in ab:
    print(c)

S
u
r
y
a

Y
a
d
a
v

# Range

#range function returns a sequence of numbers, starting from 0 by default,  and increment by 1(by default), and stops before a specified number. 
# range (start , stop, step)

In [75]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [76]:
for i in range(2, 100, 3):
    print(i)

2
5
8
11
14
17
20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89
92
95
98

# function

In [77]:
# Block of statement that perform a specific task.
# redundant code

In [78]:
def sum(a,b):
    print( a+b)

sum(4,9)

13

In [79]:
sum(7,9)

16

In [80]:
def add(a,b):
    print( a+b)

a = add(4,19)

23

In [81]:
def avg(a,b,c):
    sum = a+b+c
    th= sum/3
    return th
ke = avg(18,29,17)
print(ke)

21.333333333333332

In [82]:
# build in function and user define fuunction
# default parameter :- Assiging a default value to parameter, 
# which is used when no argument is passed

In [83]:
def prof(a=3, b=5):
    return a*b
prof()

15

# Recursion

In [84]:
# when a function calls itself repeatedly

In [85]:
def show(n):
    if n==0 or n==1:
        return 1
    else:
        return n* show(n-1)
        
show(4)

24

# File I/O in python

In [86]:
# Python can be used perform operations on a file.(read and write)
# 1.Text files:- txt, doc, log etc
# 2.Binary Files:- mp4, mov, png, jpeg etc

In [87]:
f = open("E:\Surya Yadav Assignment (14-06-2025).txt","r") # mode read, write
data = f.read()
print(data)
print(type(data))
f.close()

Hello my name khan
<class 'str'>

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\HI\AppData\Local\Temp\ipykernel_18308\1791017684.py:1: SyntaxWarning: invalid escape sequence '\S'
  f = open("E:\Surya Yadav Assignment (14-06-2025).txt","r") # mode read, write

In [88]:
f = open("E:\Surya Yadav Assignment (14-06-2025).txt","w") # mode read, write
data = f.write("Hello my name khan")
print(data)
print(type(data))
f.close()

18
<class 'int'>

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\HI\AppData\Local\Temp\ipykernel_18308\4155549985.py:1: SyntaxWarning: invalid escape sequence '\S'
  f = open("E:\Surya Yadav Assignment (14-06-2025).txt","w") # mode read, write

In [90]:
f = open("E:\Surya Yadav Assignment (14-06-2025).txt","a") # mode read, write
data = f.write("\nLife is not easy")
print(data)
print(type(data))
f.close()

17
<class 'int'>

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\HI\AppData\Local\Temp\ipykernel_18308\2061380256.py:1: SyntaxWarning: invalid escape sequence '\S'
  f = open("E:\Surya Yadav Assignment (14-06-2025).txt","a") # mode read, write

# OOP

In [1]:
# To map with real world scenario, we started using in code
# This is called object oriented programming

# class

In [2]:
# class is a blueprint for creating object
# class Student:
#     name="Surya"
# creating object(instance) 
# s1 =Student()
# s1.name

In [4]:
class Student:
     name="Surya"
s1 =Student()
s1.name

'Surya'

# Constructor

In [5]:
# all classes have a function called _init_(),
# which is always executed when the object is being initiated

In [6]:
# class Student:
#def __init__(self, fulname)
#self.name = fulname
# The self parameter is a reference to the current instance of the class, and 
# used to access variable that belongs to the class

In [7]:
# default constructor
# def __init__(self)

# Parameter constructor
# def __init__(self, name)

# Class and Instance Attribute

In [8]:
# instance (object) Attribute = student name different
# class Attribute = college name is same all student(common)
# obj attribute > class attribute

# Method

In [9]:
# Methods are function that belong to object

In [13]:
class Student:
    def __init__(self, fullname):
        self.name = fullname

    def hello(self):
        print("hello", self.name)

s1 = Student("surya")
s1.hello()

hello surya

# Static

In [ ]:
# Method that don't use the self parameter(work at class level)
# class Student:
#    @staticmethod decorator ( change normal function to static method)
#    def college():
#    print("ABC College")